.giaovien{
  &__list{
    &__title{
      font-family: $font-iCiel-Graphik-Medium;
    }
    &__card{
      border: 1px solid transparent;
      &:hover{
        border-color: #{$primary-color};
      }
    }
    &__label{
      text-transform: inherit;
      border-radius: 500px;
      color: #08880d;
      background: rgba(#4caf50,.3);
    }
    &__coverImg{
      canvas{
        @include fluidx(122px,72px,width);
        @include fluidx(115px,74px,height);
      }
    }
    &__txt{
      color: #424242;
      span{
        font-family: $font-iCiel-Graphik-Bold;
      }
    }
  }
  &__filter{
    &__txt{
      font-family: $font-iCiel-Graphik-Medium;
      color: #000;
    }
    &__btn{
      text-transform: inherit;
      font-family: $font-iCiel-Graphik-Medium;
    }
    &__radio{
      display: none;
    }
    &__checkbox{
      display: none;
    }
    &__box{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 30px;
      border-radius: 500px;
      min-height: 40px;
      background: #F3F5FA;
      cursor: pointer;
      font-size: 15px;
      color: #000;
      .giaovien__filter__radio:checked ~ &,
      .giaovien__filter__checkbox:checked ~ &{
        background: #{$primary-color};
        color: #ffffff;
      }
    }
  }
}
.datlich{
  &__04{
    &__box3{
      &__table{
        &__tr{

        }
        &__td{
          &:first-child{
            border-top: none !important;
            .datlich__04__box3__table__tr:first-child &{
              border-top: 1px solid #DAE7DF !important;
              border-bottom: none !important;
            }
            .datlich__04__box3__table__tr:nth-child(n+2) &{
              border-top: none !important;
              border-bottom: none !important;
            }
            .datlich__04__box3__table__tr:last-child &{
              border-bottom: 1px solid #DAE7DF !important;
            }
          }
        }
        tr{
          td,th{
            padding: 0;
            text-align: center;
          }
          td{
            border: 1px solid #DAE7DF;
            &.uk-active{
              background: #00B342;
            }
          }
          th{

          }
        }
        &__txt1{
          color: #000;
          //font-family: $font-primary-medium;
          line-height: 1.4;
          @include fluidx(base(14),scale_10(base(14)),font-size);
        }
        &__txt2{
          color: #565656;
          line-height: 1.4;
          //font-family: $font-primary;
          @include fluidx(base(14),scale_10(base(14)),font-size);
        }
      }
    }
  }
}