.lophoc{
  &__tab{
    margin-left: 0;
    >li{
      padding-left: 0;
      >a{
        border: 1px solid #000000;
        border-bottom: none;
        $x:10px;
        border-radius: #{$x} #{$x} 0 0;
        text-transform: inherit !important;
        color: #000 !important;
        background: #e0e0e0;
        min-width: 90px;
        text-align: center !important;
        justify-content: center;
      }
      &:nth-child(n+2){
        >a{
          border-left: none;
        }
      }
      &.uk-active{
        >a{
          background: #ffffff;
          color: #000;
        }
      }
    }
  }
  &__txtSmall{
    font-size: 13px;
    @include fluidx(15px,13px,font-size);
  }
  &__card{
    //padding: 10px;
    border: 1px solid #cccccc;
    @include media-breakpoint-up('m'){
      border-radius: 20px;
    }
    &__box{
      background: #F0F0F0;
      padding: 3px 6px;
    }
    &__txt1{
      font-family: $font-iCiel-Graphik-Medium;
      color: #424242;
      align-items: center;
      display: flex;
      &:before{
        margin-right: 3px;
        content: "";
        $x:20px;
        width: #{$x};
        height: #{$x};
        display: flex;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath d='M16 2.672c-7.361 0-13.328 5.967-13.328 13.328s5.968 13.328 13.328 13.328c7.361 0 13.328-5.967 13.328-13.328s-5.967-13.328-13.328-13.328zM16 28.262c-6.761 0-12.262-5.501-12.262-12.262s5.5-12.262 12.262-12.262c6.761 0 12.262 5.501 12.262 12.262s-5.5 12.262-12.262 12.262z' fill='%2300b342'/%3E%3Cpath d='M22.667 11.241l-8.559 8.299-2.998-2.998c-0.312-0.312-0.818-0.312-1.131 0s-0.312 0.818 0 1.131l3.555 3.555c0.156 0.156 0.361 0.234 0.565 0.234 0.2 0 0.401-0.075 0.556-0.225l9.124-8.848c0.317-0.308 0.325-0.814 0.018-1.131-0.309-0.318-0.814-0.325-1.131-0.018z' fill='%2300b342'/%3E%3C/svg%3E");
      }
    }
    &__rate{
      i.fa{
        color: #ff9800;
      }
    }
    &__txtDate{
      font-size: 13px;
      color: #000;
    }
    &__desc{
      color: #000;
    }
    &__txtAdd{
      color: #000;
      font-size: 14px;
    }
    &__btn{
      text-transform: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      $x:20px;
      &:before{
        content: "";
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      &.uk-button-primary{
        background: #{$primary-color};
      }
      &--vaolop{
        &:before{
          margin-right: 6px;
          width: #{$x};
          height: #{$x};
          background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' id='Layer_1' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Cpath d='M50,3v44c0,1.654-1.346,3-3,3H13c-1.654,0-3-1.346-3-3V28h2v19c0,0.552,0.449,1,1,1h34c0.552,0,1-0.448,1-1V3 c0-0.551-0.448-1-1-1H13c-0.551,0-1,0.449-1,1v19h-2V3c0-1.654,1.346-3,3-3h34C48.654,0,50,1.346,50,3z M21.346,35.183 c-0.391,0.391-0.391,1.023,0,1.414c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293L34.357,25L22.761,13.403 c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L30.529,24H1c-0.552,0-1,0.448-1,1c0,0.553,0.448,1,1,1h29.529 L21.346,35.183z'/%3E%3C/svg%3E");
        }
      }
      &--hocthu{
        &:before{
          margin-right: 6px;
          width: #{$x};
          height: #{$x};
          background-image: url("data:image/svg+xml,%3Csvg fill='%23424242' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' id='Layer_1' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Cpath d='M37,19.326V14c0-2.757-2.243-5-5-5H5c-2.757,0-5,2.243-5,5v22c0,2.757,2.243,5,5,5h27c2.757,0,5-2.243,5-5v-5.326l13,7 V12.326L37,19.326z M35,36c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V14c0-1.654,1.346-3,3-3h27c1.654,0,3,1.346,3,3V36z M48,34.326l-11-5.924v-6.805l11-5.923V34.326z'/%3E%3C/svg%3E");
        }
      }
    }
  }
  &__iconPlus{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath d='M16 2.672c-7.362 0-13.328 5.966-13.328 13.328s5.966 13.328 13.328 13.328c7.362 0 13.328-5.966 13.328-13.328s-5.966-13.328-13.328-13.328zM16 28.262c-6.761 0-12.262-5.501-12.262-12.262s5.501-12.262 12.262-12.262c6.761 0 12.262 5.501 12.262 12.262s-5.501 12.262-12.262 12.262z' fill='%2300b342'/%3E%3Cpath d='M16.533 8.003h-1.066v7.464h-7.428v1.066h7.428v7.428h1.066v-7.428h7.464v-1.066h-7.464z' fill='%2300b342'/%3E%3C/svg%3E");
    min-height: 121px;
    @include media-breakpoint-up('m'){
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath d='M16 2.672c-7.362 0-13.328 5.966-13.328 13.328s5.966 13.328 13.328 13.328c7.362 0 13.328-5.966 13.328-13.328s-5.966-13.328-13.328-13.328zM16 28.262c-6.761 0-12.262-5.501-12.262-12.262s5.501-12.262 12.262-12.262c6.761 0 12.262 5.501 12.262 12.262s-5.501 12.262-12.262 12.262z' fill='%23bdbdbd'/%3E%3Cpath d='M16.533 8.003h-1.066v7.464h-7.428v1.066h7.428v7.428h1.066v-7.428h7.464v-1.066h-7.464z' fill='%23bdbdbd'/%3E%3C/svg%3E");
    }
    .lophoc__card:hover &{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath d='M16 2.672c-7.362 0-13.328 5.966-13.328 13.328s5.966 13.328 13.328 13.328c7.362 0 13.328-5.966 13.328-13.328s-5.966-13.328-13.328-13.328zM16 28.262c-6.761 0-12.262-5.501-12.262-12.262s5.501-12.262 12.262-12.262c6.761 0 12.262 5.501 12.262 12.262s-5.501 12.262-12.262 12.262z' fill='%2300b342'/%3E%3Cpath d='M16.533 8.003h-1.066v7.464h-7.428v1.066h7.428v7.428h1.066v-7.428h7.464v-1.066h-7.464z' fill='%2300b342'/%3E%3C/svg%3E");
    }
  }
}