.footer{
  border-top: 1px solid #f8f8f8;
  &__top{
    &__title{
      font-size: 16px;
      line-height: 1.6;
      color: #171717;
      font-family: $font-iCiel-Graphik-Medium;
      margin: 0;
    }
    &__nav{
      margin: 0;
      >li{
        >a{
          @extend .footer__top__txt;
        }
      }
    }
    &__txt{
      color: #565656;
      line-height: 1.6;
      font-size: 15px;
    }
  }
  &__bottom{
    $x:15px;
    padding-top: #{$x};
    padding-bottom: #{$x};
    @include media-breakpoint-up('m'){
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &__siteMap{
      >li{
        >a{
          text-transform: inherit !important;
          color: #565656 !important;
        }
      }
    }
  }
}
.bottomSticky{
  z-index: 1000;
  .uk-container{
    @include media-breakpoint-down('s'){
      padding-right: 0;
    }
  }
  &__txt{
    @include fluidx(17.5px,13px,font-size);
    color: #171717;
    span{
      font-family: $font-iCiel-Graphik-Medium;
    }
  }
  &__section{
    $x:13px;
    padding-top: #{$x};
    padding-bottom: #{$x};
  }
  &__boxImg{
    $x:135px;
    @include fluidx($x,100px,width);
    img{
      @include fluidx($x,100px,width);
    }
  }
}