.header{
  z-index: 1009;
  background-color: #fff;
  &.uk-active,
  &.uk-sticky-below{
    background-color: #fff;
  }
  &.uk-sticky-below{
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
  }
  .uk-logo{
    img{
      @include fluidx(50px,40px,height);
    }
  }
  .uk-navbar-nav{
    >li{
      >a{
        text-transform: inherit;
        font-family: $font-iCiel-Graphik-Regular;
        font-size: 15px;
        @extend .header__navItem;
      }
    }
  }
  .uk-navbar-right{
    gap: 15px;
  }
  .uk-navbar-toggle,
  .uk-navbar-item{
    @extend .header__navItem;
  }
  &__navdivider{
    >li{
      position: relative;
      &:nth-child(n+2){
        &:before{
          content: "";
          width: 1px;
          height: 15px;
          background: #000;
          display: flex;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -15px;
        }
      }
      >a{

      }
      &.uk-active{
        >a{

        }
      }
    }
  }
  &__icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    $x:38px;
    width: #{$x};
    height: #{$x};
    display: flex;
    &--comment{
      background-image: url("data:image/svg+xml,%3Csvg fill='%23757575' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' id='Layer_1' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Cpath d='M25.2,0C11.525,0,0.4,9.914,0.4,22.1c0,5.857,2.547,11.356,7.184,15.537c-0.301,5.09-4.371,8.075-6.356,9.532 c-0.369,0.271-0.671,0.494-0.878,0.671c-0.282,0.241-0.407,0.619-0.325,0.98c0.082,0.361,0.357,0.648,0.715,0.745 c1.061,0.286,2.227,0.431,3.465,0.431c5.716,0,12.405-3.084,16.277-6.229c1.661,0.288,3.247,0.434,4.719,0.434 c13.675,0,24.8-9.914,24.8-22.1S38.875,0,25.2,0z M25.2,42.2c-1.486,0-3.106-0.162-4.816-0.482 c-0.296-0.057-0.603,0.025-0.833,0.222c-3.439,2.937-9.987,6.057-15.347,6.057c-0.245,0-0.486-0.006-0.723-0.019 c2.383-1.86,6.039-5.318,6.119-10.763c0.004-0.295-0.122-0.577-0.345-0.771C4.834,32.613,2.4,27.519,2.4,22.1 C2.4,11.017,12.628,2,25.2,2S48,11.017,48,22.1C48,33.184,37.772,42.2,25.2,42.2z'/%3E%3C/svg%3E");
    }
    &--qa{
      background-image: url("data:image/svg+xml,%3Csvg fill='%23757575' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' id='Layer_1' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M25,0C11.215,0,0,11.215,0,25s11.215,25,25,25s25-11.215,25-25S38.785,0,25,0z M25,48C12.318,48,2,37.683,2,25 C2,12.318,12.318,2,25,2c12.683,0,23,10.318,23,23C48,37.683,37.683,48,25,48z'/%3E%3Cpath d='M26.439,33.493h-2.726c-0.216,0-0.359,0.143-0.359,0.358v3.084c0,0.215,0.142,0.358,0.359,0.358h2.726 c0.214,0,0.358-0.142,0.358-0.358v-3.084C26.797,33.637,26.654,33.493,26.439,33.493z'/%3E%3Cpath d='M25.29,12.508c-3.73,0-6.205,2.26-6.744,5.703c-0.035,0.216,0.072,0.359,0.288,0.395l2.259,0.395 c0.216,0.036,0.359-0.072,0.395-0.287c0.43-2.188,1.721-3.407,3.729-3.407c2.045,0,3.479,1.291,3.479,3.335 c0,1.22-0.43,2.045-1.684,3.766l-2.404,3.3c-0.753,1.041-1.075,1.793-1.075,3.229v1.47c0,0.215,0.143,0.359,0.358,0.355h2.367 c0.215,0,0.358-0.143,0.358-0.358v-1.147c0-1.219,0.216-1.721,0.933-2.689l2.403-3.3c1.22-1.686,1.828-2.941,1.828-4.663 C31.78,15.054,29.162,12.508,25.29,12.508z'/%3E%3C/g%3E%3C/svg%3E");
    }
    &--user{
      background-image: url("data:image/svg+xml,%3Csvg fill='%23757575' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' id='Layer_1' x='0px' y='0px' viewBox='0 0 50 50.198' style='enable-background:new 0 0 50 50.198;' xml:space='preserve'%3E%3Cpath d='M25,0C11.215,0,0,11.215,0,25c0,9.155,4.997,17.569,13.04,21.959c3.788,2.089,8.234,3.239,12.521,3.239 c1.76,0,3.71-0.341,5.798-1.015C42.336,46.305,50,36.364,50,25C50,11.215,38.785,0,25,0z M30.799,47.263 c-5.569,1.446-11.731,0.704-16.797-2.058c-1.418-0.782-2.698-1.68-3.819-2.676c1.385-0.945,3.06-1.604,4.688-2.244 c2.738-1.077,5.325-2.095,6.186-4.408l0.059-0.259c0.118-1.306,0.109-2.311,0.1-3.375l-0.005-0.925l0.018-0.595l-0.536-0.28 c-0.438-0.298-1.607-2.315-1.8-4.12L18.804,25.5l-0.825-0.067c-0.128-0.01-0.644-0.37-0.833-1.939 c-0.096-0.807,0.296-1.091,0.298-1.092l0.635-0.386l-0.187-0.719c-1.214-4.671-1.013-8.251,0.582-10.352 c1.243-1.638,3.413-2.497,6.432-2.552c1.877,0,3.265,0.469,3.712,1.253l0.244,0.428l0.487,0.067 c1.336,0.186,2.284,0.756,2.896,1.743c1.536,2.472,0.647,7.04-0.12,9.349l-0.211,0.747l0.64,0.422 c0.004,0.003,0.396,0.286,0.298,1.093c-0.188,1.569-0.704,1.93-0.832,1.939L31.195,25.5l-0.088,0.823 c-0.194,1.814-1.328,3.829-1.729,4.11l-0.535,0.28l-0.006,1.535c-0.009,1.062-0.018,2.066,0.1,3.369l0.059,0.259 c0.86,2.312,3.438,3.33,6.166,4.408c1.625,0.642,3.295,1.301,4.675,2.247C38.206,43.797,34.692,45.998,30.799,47.263z M41.365,41.169c-1.663-1.241-3.671-2.034-5.469-2.744c-2.34-0.924-4.369-1.725-4.98-3.131c-0.096-1.134-0.088-2.014-0.079-3.027 l0.003-0.48c0.897-0.917,1.821-2.866,2.157-4.602c0.704-0.364,1.579-1.259,1.842-3.453c0.132-1.091-0.186-1.93-0.624-2.481 c0.581-1.98,1.78-7.125-0.27-10.423c-0.859-1.383-2.161-2.254-3.873-2.593c-0.944-1.193-2.755-1.843-5.185-1.843 c-3.681,0.068-6.375,1.193-8.007,3.343c-1.933,2.548-2.292,6.41-1.069,11.484c-0.451,0.551-0.783,1.401-0.65,2.513 c0.264,2.194,1.139,3.09,1.842,3.453c0.341,1.734,1.288,3.689,2.209,4.608l0.002,0.468c0.009,1.015,0.017,1.896-0.08,3.033 c-0.612,1.405-2.649,2.206-4.998,3.13c-1.806,0.71-3.825,1.504-5.496,2.748C4.446,36.926,2,31.145,2,25C2,12.318,12.318,2,25,2 c12.683,0,23,10.318,23,23C48,31.216,45.508,36.969,41.365,41.169z'/%3E%3C/svg%3E");
    }
  }
  &__navItem{
    min-height: 60px;
    @include media-breakpoint-up('m'){
      min-height: 80px;
    }
  }
  &__btn{
    text-transform: inherit;
    font-family: $font-iCiel-Graphik-Medium;
    //border-radius: 5px;
    &.uk-button-default{
      border-color: #{$primary-color};
      color: #{$primary-color};
      &:hover{
        background: #{$primary-color};
        color: #ffffff;
      }
    }
    &.uk-button-primary{
      background: #{$primary-color};
      &:hover{
        background: rgba($primary-color,.8);
      }
    }
    &--bottom{
      @include media-breakpoint-down('xs'){
        border-radius: 0;
        line-height: 46px;
      }
    }
  }
}