.modal{
  &__popup1{
    &__avarta{
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      min-height: 80px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' id='Layer_1' x='0px' y='0px' viewBox='0 0 50 50.128' style='enable-background:new 0 0 50 50.128;' xml:space='preserve'%3E%3Cpath d='M25,0C11.215,0,0,11.215,0,25c0,12.352,8.833,22.728,21.006,24.683c1.391,0.296,2.766,0.445,4.088,0.445 c7.787,0,14.331-3.612,17.116-6.969l0.08-0.103C47.193,38.358,50,31.793,50,25C50,11.215,38.785,0,25,0z M25,48 c-1.216,0-2.436-0.096-3.627-0.284c-5.053-1.087-9.313-4.03-11.16-5.463c1.412-0.98,3.131-1.6,4.804-2.201 c2.664-0.959,5.18-1.865,6.039-4.175l0.059-0.258c0.057-0.626,0.083-0.999,0.095-1.301l0.038-0.934l-0.93-0.101 c-3.752-0.405-5.604-1.167-6.135-1.546c0.978-1.579,1.038-4.218,1.111-7.463c0.164-7.25,0.349-15.469,9.758-16.184 c1.828,0,2.766,0.627,3.084,0.896l0.296,0.25l0.388-0.014c2.828-0.111,4.557,1.283,5.471,4.404c0.835,2.853,0.834,6.63,0.833,9.963 c-0.001,3.604-0.002,6.544,0.982,8.104c-0.58,0.453-2.491,1.218-6.334,1.61l-0.927,0.095l0.028,0.931 c0.016,0.501,0.037,0.983,0.063,1.284l0.059,0.261c0.86,2.313,3.438,3.331,6.168,4.409c1.635,0.646,3.315,1.31,4.701,2.267 C35.713,46.073,30.479,48,25,48z M41.361,41.166c-1.663-1.239-3.668-2.03-5.464-2.74c-2.338-0.923-4.366-1.725-4.979-3.128 c-0.003-0.034-0.005-0.07-0.007-0.107c3.551-0.445,7.354-1.428,7.354-3.59v-0.848l-0.44-0.073c-0.704-0.911-0.703-4.185-0.702-7.087 c0.001-3.467,0.003-7.396-0.913-10.525c-1.136-3.88-3.522-5.848-7.093-5.848c-0.002,0-0.003,0-0.005,0 c-0.712-0.5-2.018-1.124-4.124-1.124c-0.004,0-0.008,0-0.013,0C13.685,6.949,13.45,17.349,13.294,24.23 c-0.061,2.684-0.118,5.232-0.759,6.37h-0.504v0.592L10.6,32.609h1.749c0.96,1.436,3.959,2.172,6.799,2.549 c-0.003,0.043-0.007,0.088-0.012,0.134c-0.596,1.365-2.547,2.067-4.796,2.878c-1.937,0.696-4.107,1.478-5.864,2.885 C4.435,36.896,2,31.221,2,25C2,12.318,12.318,2,25,2c12.683,0,23,10.318,23,23C48,31.13,45.649,36.836,41.361,41.166z'/%3E%3C/svg%3E");
      margin-top: -62px !important;
    }
    &__txt{
      font-size: 15px;
      a{
        color: #000;
        text-decoration: underline;
      }
    }
    &__input{
      font-size: 15px;
    }
    &__btn{
      text-transform: inherit;
      &.uk-button-primary{
        background: #{$primary-color};
        &:hover{
          background: rgba($primary-color,.8);
        }
      }
    }
  }
  &__popup2{

  }
  &__popup5{
    &__radio{
      display: none;
    }
    &__box{
      border: 1px solid #cccccc;
      border-radius: 8px;
      overflow: hidden;
      padding: 10px;
      width: 100px;
      cursor: pointer;
      .modal__popup5__radio:checked ~ &{
        border-color: #{$primary-color};
      }
    }
    &__txt1{
      color: #000;
      font-family: $font-iCiel-Graphik-Medium;
    }
    &__txt2{
      font-family: $font-iCiel-Graphik-Medium;
    }
    &__saochep{
      color: #{$primary-color};
      &:before{
        content: "";
        $x:20px;
        width: #{$x};
        height: #{$x};
        display: inline-flex;
        background-image: url("data:image/svg+xml,%3Csvg fill='%2300b342' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' id='Layer_1' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M0,8v42h31V20.586L18.414,8H0z M29,48H2V10h15v12h12V48z M19,11.414L27.586,20H19V11.414z'/%3E%3Cpath d='M37.414,0H19v6l2,2V2h15v12h12v26H33v2h17V12.586L37.414,0z M38,3.414L46.586,12H38V3.414z'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 5px;
        position: relative;
        top: 2px;
      }
    }
  }
  &__popup4{
    &__item{
      &:nth-child(n+2){
        $x:10px;
        margin-top: #{$x};
        padding-top: #{$x};
        border-top: 1px solid #cccccc;
      }
    }
    &__txtSmall{
      font-size: 14px;
    }
    &__label{
      font-family: $font-iCiel-Graphik-Bold;
      color: #000;
    }
    &__boxRadio{
      padding: 10px;
      border: 1px solid #cccccc;
      border-radius: 8px;
      display: flex;
      align-items: center;
    }
    &__radio{
      margin-right: 6px;
      border-color: #{$primary-color};
      &:checked{
        background-color: #{$primary-color};
      }
    }
    &__span{
      font-size: 14px;
      display: inline-flex;
      align-items: center;
      &:before{
        content: "";
        background: var(--url) no-repeat center;
        background-size: contain;
        $x:24px;
        width: #{$x};
        height: #{$x};
        display: inline-flex;
        margin-right: 6px;
      }
    }
    &__boxKm{
      font-size: 14px;
      padding: 10px;
      padding-left: 40px;
      border-radius: 10px;
      color: #000;
      position: relative;
      &:before{
        content: "";
        background: url("images/refund.png") no-repeat center;
        background-size: contain;
        $x:24px;
        width: #{$x};
        height: #{$x};
        display: flex;
        position: absolute;
        top: 10px;
        left: 10px;
      }
      background-color: rgba($primary-color,.3);
    }
  }
  &__popup3{
    &__table{
      &__txtDate{
        color: #1D9FA5;
        font-size: 13px;
        text-align: center;
        cursor: pointer;
      }
      tr{
        td{
          padding-top: 5px;
          padding-bottom: 5px;
        }
        th{
          text-align: center;
          text-transform: inherit;
          color: #000;
          position: relative;
          &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 1px;
            right: 1px;
            height: 3px;
            display: flex;
            background: #1D9FA5;
          }
        }
      }
    }
    &__user{
      $x:40px;
      width: #{$x};
      height: #{$x};
      display: flex;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.0' id='Layer_1' x='0px' y='0px' viewBox='0 0 50 50.128' style='enable-background:new 0 0 50 50.128;' xml:space='preserve'%3E%3Cpath d='M25,0C11.215,0,0,11.215,0,25c0,12.352,8.833,22.728,21.006,24.683c1.391,0.296,2.766,0.445,4.088,0.445 c7.787,0,14.331-3.612,17.116-6.969l0.08-0.103C47.193,38.358,50,31.793,50,25C50,11.215,38.785,0,25,0z M25,48 c-1.216,0-2.436-0.096-3.627-0.284c-5.053-1.087-9.313-4.03-11.16-5.463c1.412-0.98,3.131-1.6,4.804-2.201 c2.664-0.959,5.18-1.865,6.039-4.175l0.059-0.258c0.057-0.626,0.083-0.999,0.095-1.301l0.038-0.934l-0.93-0.101 c-3.752-0.405-5.604-1.167-6.135-1.546c0.978-1.579,1.038-4.218,1.111-7.463c0.164-7.25,0.349-15.469,9.758-16.184 c1.828,0,2.766,0.627,3.084,0.896l0.296,0.25l0.388-0.014c2.828-0.111,4.557,1.283,5.471,4.404c0.835,2.853,0.834,6.63,0.833,9.963 c-0.001,3.604-0.002,6.544,0.982,8.104c-0.58,0.453-2.491,1.218-6.334,1.61l-0.927,0.095l0.028,0.931 c0.016,0.501,0.037,0.983,0.063,1.284l0.059,0.261c0.86,2.313,3.438,3.331,6.168,4.409c1.635,0.646,3.315,1.31,4.701,2.267 C35.713,46.073,30.479,48,25,48z M41.361,41.166c-1.663-1.239-3.668-2.03-5.464-2.74c-2.338-0.923-4.366-1.725-4.979-3.128 c-0.003-0.034-0.005-0.07-0.007-0.107c3.551-0.445,7.354-1.428,7.354-3.59v-0.848l-0.44-0.073c-0.704-0.911-0.703-4.185-0.702-7.087 c0.001-3.467,0.003-7.396-0.913-10.525c-1.136-3.88-3.522-5.848-7.093-5.848c-0.002,0-0.003,0-0.005,0 c-0.712-0.5-2.018-1.124-4.124-1.124c-0.004,0-0.008,0-0.013,0C13.685,6.949,13.45,17.349,13.294,24.23 c-0.061,2.684-0.118,5.232-0.759,6.37h-0.504v0.592L10.6,32.609h1.749c0.96,1.436,3.959,2.172,6.799,2.549 c-0.003,0.043-0.007,0.088-0.012,0.134c-0.596,1.365-2.547,2.067-4.796,2.878c-1.937,0.696-4.107,1.478-5.864,2.885 C4.435,36.896,2,31.221,2,25C2,12.318,12.318,2,25,2c12.683,0,23,10.318,23,23C48,31.13,45.649,36.836,41.361,41.166z'/%3E%3C/svg%3E");
    }
    &__icon{
      $x:32px;
      width: #{$x};
      height: #{$x};
      @include media-breakpoint-up('m'){
        $x:40px;
        width: #{$x};
        height: #{$x};
      }
      display: flex;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      &--next{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath d='M2.639 15.992c0 7.366 5.97 13.337 13.337 13.337s13.337-5.97 13.337-13.337-5.97-13.337-13.337-13.337-13.337 5.97-13.337 13.337zM28.245 15.992c0 6.765-5.504 12.27-12.27 12.27s-12.27-5.505-12.27-12.27 5.505-12.27 12.27-12.27c6.765 0 12.27 5.505 12.27 12.27z' fill='%23000000'/%3E%3Cpath d='M19.159 16.754l0.754-0.754-6.035-6.035-0.754 0.754 5.281 5.281-5.256 5.256 0.754 0.754 3.013-3.013z' fill='%23000000'/%3E%3C/svg%3E");
      }
      &--prev{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath d='M29.312 15.992c0-7.366-5.97-13.337-13.337-13.337s-13.337 5.97-13.337 13.337 5.97 13.337 13.337 13.337 13.337-5.97 13.337-13.337zM3.706 15.992c0-6.765 5.504-12.27 12.27-12.27s12.27 5.505 12.27 12.27-5.505 12.27-12.27 12.27c-6.765 0-12.27-5.505-12.27-12.27z' fill='%23000000'/%3E%3Cpath d='M12.792 15.231l-0.754 0.754 6.035 6.035 0.754-0.754-5.281-5.281 5.256-5.256-0.754-0.754-3.013 3.013z' fill='%23000000'/%3E%3C/svg%3E");
      }
    }
  }
  &__title{
    font-family: $font-iCiel-Graphik-Bold;
    //font-size: 23px;
    @include fluidx(23px,18px,font-size);
    color: #000;
  }
  &__dialog{
    width: 450px;
  }
  &__dialog-m{
    width: 500px;
  }
}