//=====================================================
// iCiel Graphik
//=====================================================
@font-face{
  font-family:'iCiel Graphik Regular';
  font-display: auto;
  src:local('iCiel Graphik Regular'), url('fonts/Font_otf/Graphik-Regular.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'iCiel Graphik Medium';
  font-display: auto;
  src:local('iCiel Graphik Medium'), url('fonts/Font_otf/Graphik-Medium.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'iCiel Graphik Bold';
  font-display: auto;
  src:local('iCiel Graphik Bold'), url('fonts/Font_otf/Graphik-Bold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
//=====================================================
// HiraKakuStd
//=====================================================
@font-face{
  font-family:'HiraKakuStd-W8';
  font-display: auto;
  src:local('HiraKakuStd-W8'), url('fonts/hiragino-kaku-gothic-std-w8.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}